/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(183, 236, 236, 0.678);
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
}

.navbar {
    border-radius: 0;
}

.navbar-brand h1 {
    margin: 0;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.form-control {
    width: 30px;
}

form {
    margin-top: 20px;
}

form label {
    font-weight: bold;
}

form input {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #027e8f;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #025e6f;
}

hr {
    border-top: 1px solid #ccc;
    margin-top: 40px;
    margin-bottom: 40px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #1394a5;
    background-color: rgba(144, 214, 214, 0.678);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
