body {
    font-family: Arial, sans-serif;
    background-color: rgba(183, 236, 236, 0.678);
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #1394a5;
    background-color: rgba(144, 214, 214, 0.678);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 40%;
    background-color: #1394a5;
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
    margin: 0 auto; 
    display: block; 
}

a {
    color: #333;
    text-decoration: none;
}